@{
    var index = 1;
}
@model IList<POMQC.Entities.Defect.DefectLocation>
<div class="container tab-pane fade" id="Location">
    <table>
        <thead>
            <tr>
                <td colspan="5">DEFECT LOCATION MANAGEMENT</td>
                <td class="c"><a onclick="addDefectLocation(0);" class="btn btn-primary" role="button">Add</a></td>
            </tr>
            <tr>
                <td>No.</td>
                <td>Defect Location</td>
                <td>Created By</td>
                <td>Updated By</td>
                <td>Active</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                index = 1;
                foreach (var loc in Model)
                {                
            <tr>
                <td class="c">@index</td>
                <td>@loc.LocName</td>
                <td>@loc.CreatedUser</td>
                <td>@loc.UpdatedUser</td>
                <td class="c"><input type="checkbox" @(loc.Active ? "checked" : string.Empty) disabled /></td>
                <td class="c"><a onclick="addDefectLocation(@loc.LocId);" class="btn btn-primary" role="button">Edit</a></td>
            </tr>        
                    ++index;
                }        
            }
            else
            {
            <tr>
                <td class="c" colspan="6">There is no information</td>
            </tr>        
            }
        </tbody>
    </table>
</div>