@using POMQC.ViewModels.Base;
@using POMQC.ViewModels.Filter;
@{
    Layout = null;
    var firstPO = Model.Items.FirstOrDefault() ?? new POMQC.Entities.Defect.DefectDetail();
    var url = Model.Function == FunctionViewModel.ReportByPO ?
        string.Format("/report/getbycustpoexcel?custid={0}&custpo={1}&aiglpo={2}&custname={3}", firstPO.CustId, firstPO.CustPO, firstPO.AIGLPO, firstPO.CustName) :
        string.Format("/report/getbyfactoryexcel?factoryid={0}&from={1}&to={2}", firstPO.FactoryId, DateTime.Now.AddMonths(-1).ToString("MM/dd/yyyy"), DateTime.Now.AddMonths(1).ToString("MM/dd/yyyy"));
}
@model ReportViewModelBase
<table id="report-po@((int)Model.Function)">
    <thead>
        <tr class="b c">
            <td colspan="5"><div style="font-weight: bold; padding: 3px" id="report-title@((int)Model.Function)">@Html.Raw(Model.Title)</div></td>
        </tr>
        <tr class="b c">
            <td rowspan="4" style="width: 80px">DEFECT NO</td>
            <td colspan="3">MATERIAL</td>
            <td rowspan="4" style="width: 80px">QTY</td>
        </tr>
        <tr class="b c">
            <td colspan="3">DEFECT DESCRIPTION</td>
        </tr>
        <tr class="b c">
            <td colspan="3">DEFECT LOCATION</td>
        </tr>
        <tr class="b c">
            <td colspan="3">DEFECT TYPE</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Any())
        {
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            var groups = Model.Items.GroupBy(m => m.DHUType);
            foreach (var item in groups)
            {
                var index = 1;
        <tr class="b sub-header-row-bg">
            <td></td>
            <td colspan="3">@item.First().DHUType.ToString().ToUpperInvariant()</td>
            <td class="b c">@item.Sum(i => i.Total)</td>
        </tr>        
                foreach (var defect in item)
                {
        <tr>
            <td class="c">@index</td>
            <td>@defect.DefName</td>
            <td>@defect.LocName</td>
            <td>@defect.Type.ToString()</td>
            <td class="c">@defect.Total</td>
        </tr>        ++index;
                }
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>        
            }
        }
        else
        {
        <tr>
            <td colspan="5" class="c">There is no information</td>
        </tr>        
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="b r" colspan="4">TOTAL</td>
            <td class="b c" id="report-grand-total@((int)Model.Function)">@Model.Items.Sum(i => i.Total)</td>
        </tr>
    </tfoot>
</table>
<a style="margin-top: 10px" href="javascript:window.print();" class="btn btn-primary" role="button">Print</a>
<a id="report-cust-fact-@((int)Model.Function)" style="margin-top: 10px" target="_blank" href="@url" class="btn btn-primary" role="button">Export Excel</a>
<script type="text/javascript">
    $(document).ready(function () {
        var action = @((int)Model.Function) == Func.ReportByPO ?
            'getbycustpoexcel?custid=' + $('#ddlCUST').val() + '&custpo=' + $('#ddlCUSTPO').val() + '&aiglpo=' + $('#ddlAIGLPO').val() + '&custname=' + $('#ddlCUST option:selected').text() :
            'getbyfactoryexcel?factoryid=' + parseInt($('#ddlFACTORY').val()) + '&from=' + $('.datepicker')[0].value + '&to=' + $('.datepicker')[1].value + '&factoryname=' + $('#ddlFACTORY option:selected').text();
        $('#report-cust-fact-' + @((int)Model.Function)).prop('href', '/report/' + action);
    });
</script>