@using POMQC.ViewModels.Checklist;
@using POMQC.ViewModels.Filter;
@model ChecklistViewModel
@{
    ViewBag.Title = "QA/QC Checklist";
    
    var count = 0;    
    var qaChecklist = Model.Items.FirstOrDefault(i => i.Function == ChecklistFunctionViewModel.QAChecklist) ?? new ChecklistViewModel();
    qaChecklist.Function = ChecklistFunctionViewModel.QAChecklist;
    qaChecklist.Title = "QA/QC Checklist";
    qaChecklist.IsActiveTab = true;
}
@Html.Partial("Filter", Model.Filter)
<div class="dashboard-tbl">
    <table id="main">
        <thead>
            <tr>
                <td>AIGL PO</td>
                <td>Cust PO</td>
                <td>Cust Name</td>
                <td>Factory</td>
                <td>Related Divison</td>
                <td>Inline Date</td>
                <td>Status</td>
                <td>PO Qty</td>
                <td>Total Defects</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.POs.Any())
            {
                foreach (var item in Model.POs)
                {
            <tr class="@(count == 0 ? "selected-row" : string.Empty)" onclick="checklistDetail(this, @item.CustId, '@item.CustPO', '@item.AIGLPO', '@item.Customer', @item.FactoryId)">
                <td>@item.AIGLPO</td>
                <td>@item.CustPO</td>
                <td>@item.Customer</td>
                <td>@item.Factory</td>
                <td>@item.Division</td>
                <td>@item.InlineDate</td>
                <td>@item.Status</td>
                <td class="r">@item.POQty</td>
                <td class="r">@item.Defect</td>
            </tr>
                    ++count;
                }
            }
            else
            {
            <tr>
                <td colspan="9" class="c">There is no information</td>
            </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("Checklist", qaChecklist)